<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://xmlns.jcp.org/jsf/core"  
		xmlns:h="http://xmlns.jcp.org/jsf/html">
<head>
<meta charset="ISO-8859-1"> </meta>
<title>Register New User</title>
</head>
<body>

<!-- just playing around with forms  -->


<!--  <h:form>
    <h2>Employee Information System</h2>
        <table>
      <tr>
        <td>First Name:</td>
        <td>
          <h:inputText label="First Name"
                       id="firstName" value="#{employeeBean.empName}"
                       required="true"/>
                       <h:message for="ename" style="color: red"/>
        </td>
      </tr>
      
      <tr>
        <td>Surname:</td>
        <td>
          <h:inputText label="Surname"
                       id="surname" value="#{employeeBean.empName}"
                       required="true"/>
                       <h:message for="surname" style="color: red"/>
        </td>
      </tr>


 	<tr>
        <td>Gender:</td>
        <td>
          <h:selectOneRadio label="Gender"
                            id="gender" value="#{employeeBean.gender}" required="true">
            <f:selectItem itemLabel="Male" itemValue="male" />
            <f:selectItem itemLabel="Female" itemValue="female" />
          </h:selectOneRadio>
        <h:message for="gender" style="color: red"/>             
        </td>
      </tr>
      
      
      </table>
      </h:form> -->
      
    
      <h:form>
         <h:panelGrid id = "panel" columns = "2" border = "1"
            cellpadding = "10" cellspacing = "1">
            
            <f:facet name = "header">
               <h:outputText value = "Register"/>
            </f:facet>
            
            <h:outputLabel value = "First Name" />
            <h:inputText label="First Name"
                       		id="FirstName" 
                       		value="#{UsersBean.firstName}"
                     	  	required="true"/> 
            
            <h:outputLabel value = "Surname" />
            <h:inputText label="Surname"
                       		id="surname" 
                       		value="#{UsersBean.surname}"
                     	  	required="true"/> 
            
            <h:outputLabel value = "Email address" />
            <h:inputText label="emailAddress"
                       		id="emailAddress" 
                       		value="#{UsersBean.emailAddress}"
                     	  	required="true"/> 
                     	  	
            <h:outputLabel value = "Password" />
            <h:inputSecret label="Password"
                       		id="password" 
                       		value="#{UsersBean.password}"
                     	  	required="true"/> 
                     	  	
                     	  	
<!--              to do: should we do some kind of check to make sure the passwords are the same?         	  	
            <h:outputLabel value = "Retype Password" />
            <h:inputSecret label="retypePassword"
                       		id="retypePassword" value="#{employeeBean.empName}"
                     	  	required="true"/>       -->    	  	
            
            
            
<!--             Im just practicing using radio buttons here
           <h:outputLabel value = "Gender" />
	           <h:selectOneRadio label="Gender"
	                            id="gender" value="#{employeeBean.gender}" required="true">
	            <f:selectItem itemLabel="Male" itemValue="male" />
	            <f:selectItem itemLabel="Female" itemValue="female" />
	          </h:selectOneRadio> -->
            
            
            <f:facet name = "footer">
               <h:panelGroup style = "display:block; text-align:center">
                   <h:commandButton id = "submit" 
                   					value="Submit"
                   					action="#{UsersBean.saveNewUser()}"
                   					/>
                   					

<!--                    					action="#{registerBean.addNewUserToRegisteredPersonList()}"
 -->

 						<!-- to do: go to a different page when i click on submit, not the index page 
 						The 'action' part can  only link to another xhtml document  -->
                  
               </h:panelGroup>
            </f:facet>
         </h:panelGrid>
      </h:form>
      





</body>
</html>